# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
city_csv = "../output_data/weather_df.csv"
City_df = pd.read_csv(city_csv)
City_df.head()

,City,Latitude,Longitude,Humidity,Max Temp,Cloudiness,Wind Speed,Country
0,asau,46.43,26.40,88.0,55.99,0,0.45,RO
1,namerikawa,36.77,137.33,63.0,91.40,40,13.87,JP
2,port elizabeth,-33.92,25.57,87.0,44.60,0,5.82,ZA
3,nanortalik,60.14,-45.24,83.0,42.67,6,6.98,GL
4,tasiilaq,65.61,-37.64,69.0,38.19,65,7.49,GL

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

In [23]:
locations = City_df[['Latitude', 'Longitude']]
humidity = City_df['Humidity']

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
Narrowed_city_df = City_df.loc[(City_df["Wind Speed"] <= 10) & (City_df["Cloudiness"] == 0) & (City_df["Max Temp"] >= 70) & (City_df["Max Temp"] <= 80)]
                                   
Narrowed_city_df

,City,Latitude,Longitude,Humidity,Max Temp,Cloudiness,Wind Speed,Country
34,goderich,43.75,-81.72,66.0,77.00,0,1.01,CA
59,lixourion,38.20,20.43,67.0,77.31,0,1.10,GR
154,airai,-8.93,125.41,30.0,77.20,0,6.13,TL
166,gat,31.61,34.76,84.0,75.99,0,5.41,IL
231,jalu,29.03,21.55,44.0,76.51,0,8.99,LY
237,mahon,39.89,4.27,94.0,73.40,0,6.93,ES
292,waddan,29.16,16.14,62.0,70.21,0,2.44,LY
320,baniyas,35.18,35.95,83.0,71.60,0,4.70,SY
369,coruripe,-10.13,-36.18,86.0,71.71,0,3.83,BR
372,modugno,41.10,16.78,65.0,79.00,0,2.24,IT
520,urumqi,43.80,87.60,40.0,73.40,0,2.24,CN

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df  = Narrowed_city_df.loc[:,["City","Country", "Latitude", "Longitude"]]

In [8]:
hotel_df["Hotel Name"] = ""
hotel_df

          City Country  Latitude  Longitude Hotel Name
34    goderich      CA     43.75     -81.72
59   lixourion      GR     38.20      20.43
154      airai      TL     -8.93     125.41
166        gat      IL     31.61      34.76
231       jalu      LY     29.03      21.55
237      mahon      ES     39.89       4.27
292     waddan      LY     29.16      16.14
320    baniyas      SY     35.18      35.95
369   coruripe      BR    -10.13     -36.18
372    modugno      IT     41.10      16.78
520     urumqi      CN     43.80      87.60

In [9]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [10]:
for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Latitude"]
    lng = row["Longitude"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 34: goderich.
Closest hotel in goderich is Comfort Inn & Suites.
------------
Retrieving Results for Index 59: lixourion.
Closest hotel in lixourion is Villas Vatsa.
------------
Retrieving Results for Index 154: airai.
Missing field/result... skipping.
------------
Retrieving Results for Index 166: gat.
Closest hotel in gat is Desert Gat.
------------
Retrieving Results for Index 231: jalu.
Closest hotel in jalu is Jalu Hotel.
------------
Retrieving Results for Index 237: mahon.
Closest hotel in mahon is Casa Ládico Boutique Hotel.
------------
Retrieving Results for Index 292: waddan.
Missing field/result... skipping.
------------
Retrieving Results for Index 320: baniyas.
Closest hotel in baniyas is فندق التل.
------------
Retrieving Results for Index 369: coruripe.
Closest hotel in coruripe is Batel Pousada.
------------
Retrieving Results for Index 372: modugno.
Closest hotel in modugno is Hotel Terranobile Metaresort.
------------
Retrieving Results for Index 520: urumqi.
Closest hotel in urumqi is JinJiang International Hotel Urumqi.
------------

In [12]:
hotel_df

,City,Country,Latitude,Longitude,Hotel Name
34,goderich,CA,43.75,-81.72,Samuels Hotel
59,lixourion,GR,38.20,20.43,Kefalonia Grand Hotel
154,airai,TL,-8.93,125.41,
166,gat,IL,31.61,34.76,Desert Gat
231,jalu,LY,29.03,21.55,Jalu Hotel
237,mahon,ES,39.89,4.27,Casa Ládico Boutique Hotel
292,waddan,LY,29.16,16.14,
320,baniyas,SY,35.18,35.95,فندق التل
369,coruripe,BR,-10.13,-36.18,Batel Pousada
372,modugno,IT,41.10,16.78,Hotel Terranobile Metaresort
520,urumqi,CN,43.80,87.60,JinJiang International Hotel Urumqi

In [24]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [25]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))